
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/post.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= post.title %>
    </title>
</head>

<body>
    <div class="single-post">

        <h1>
            <%= post.title %>
        </h1>
        <br>
        <% if(post.image){ %>
            <img src="/uploads/<%= post.image %>" width="300" alt="<%= post.title %>">
            <% } %>
                <br>
                <p class="category">category:
                    <span>
                    <%= post.category?.name %>
                    </span>
                </p>
                <br>
                <p>
                    <%= post.body %>
                </p>
                <br>
                <hr>
                <p>
                    created at:
                    <%= post.createdAt.toDateString() %>
                </p>
                <div class="actions">
<a href="/posts/<%= post._id %>/edit">edit post</a>
                |
                <form action="/posts/<%= post._id %>/delete" method="post">
                    <button type="submit">
                        delete
                    </button>
                </form>
                </div>
                
                <a href="/">back</a>
    </div>

</body>

</html>