<html lang="en">

<head>
    <link rel="stylesheet" href="/css/post.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>
</head>

<body>
    <h1>edit post</h1>
    <form action="/posts/<%= post._id %>/edit" method="post" enctype="multipart/form-data" class="form-container">
        <div class="form-group">
            <label>title</label>
            <input type="text" name="title" value="<%= post.title %>" required>
        </div>

        <div class="form-group">
            <label>body</label>
            <textarea name="body" rows="8" cols="50" required><%= post.body %></textarea>
        </div>
        <div class="form-group">
            <% if(post.image){ %>
                <img class="post-image" src="/uploads/<%= post.image %>" width="200">
                <% } %>

                    <input type="file" name="image">
        </div>
        <div class="form-group">

        <select name="category">

            <% categories.forEach(category=> { %>

                <option value="<%= category._id %>" <%=post.category?.toString()===category._id.toString() ? "selected"
                    : "" %>
                    >
                    <%= category.name %>
                </option>

                <% }) %>

        </select>

        </div>
        <br>
        <button class="submit-btn">update</button>
    </form>
    <a href="/posts/<%= post._id %>">back</a>
</body>

</html>